@media (max-width : 550px) {
    header .nav ul li a {
        font-size: 1rem;
        padding: 10px 18px;

    }

    .header .header-text h1 {
       display: none;
     
    }
    .header .header-text p {
        visibility: hidden;
    
    }

    .header .img-box {
        position: absolute;
        top: 0;
        left: 25%;

    }
    .about .bio-data .img-box a {
        display: block;
        font-size: 1.2rem;
        margin-left: 0;
    }
    .about .bio-data .img-box p {
        display: block;
        font-size: 1.2rem;
    }
    .yt .yt-links .main-btn .btn {
        width: 200px;
        margin: 0;
    }
    .yt .yt-links .main-btn span {
        width: 200px;
    }
    .yt .yt-links .main-btn h3 {
        font-size: 1rem;
    }
    .games .filter span {
        padding: 10px 30px;
        margin: 0;
        font-size: 16px;
       
    }
    .copyright {
        
        font-size: 16px;
    }
}